api.turkiyeapi.dev {
  encode zstd gzip

  @v1 path_regexp v1 ^/v1(?P<rest>/.*)?$
  reverse_proxy @v1 turkiyeapi-one-x2mvdm:8181

  @http {
    protocol http
  }
  redir @http https://{host}{uri}
}

turkiyeapi.dev {
  encode zstd gzip

  @oldv1 path_regexp oldv1 ^/api/v1(?P<rest>/.*)?$
  redir @oldv1 https://api.turkiyeapi.dev/v1{re.oldv1.rest} permanent

  @http {
    protocol http
  }
  redir @http https://{host}{uri}
}
