doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      body { font-family: sans-serif; }
    title Provinces of Turkey API
  body
    h1 Provinces of Turkey API
    p
      | This API allows you to get data about 
      strong provinces in Turkey.
    p If you want to see API features as Postman documentation, you can click 
      a( target='_blank', href='https://documenter.getpostman.com/view/19561492/UzBguVHM') here.
    hr
    h2 GET All Provinces
    a(class='frame', target='_blank', href='/api/v1/provinces') #{host}/api/v1/provinces
    p
      | You can use this route to get data for 
      strong all
      |  countries.
    br
    h2 GET Province by ID
    a(class='frame', target='_blank', href='/api/v1/provinces/6') #{host}/api/v1/provinces/6
    p
      | You can use this route to obtain the data of the province whose 
      strong ID you entered.
    p You can enter a different number, instead of 6
    br
    h2 GET Province by Name
    a(class='frame', target='_blank', href='/api/v1/provinces/ankara') #{host}/api/v1/provinces/ankara
    p
      | You can use this route to obtain the data of the province whose 
      strong name you entered.
    p You can enter a different name, instead of "ankara"
    br
    hr
    h3 Sources
    ul
      li
        a(target='_blank', href='https://biruni.tuik.gov.tr/medas') Population of districts
      li
        a(target='_blank', href='https://web.archive.org/web/20190416051733/https://www.harita.gov.tr/images/urun/il_ilce_alanlari.pdf') Area of districts
    h3 Important Notes
    ul
      li It is still under development.
      li The populations of the provinces are based on 2021.
      li The areas of the provinces are based on kilometer/km.
    h3 Known bugs / TODOs
    ul
      li Province search functionality has not been implemented yet.
      li "Approximately" province search feature has not been introduced yet. (For now, the search query and the name of the province must be exactly the same)
      li API features will be tried to be increased.