doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Bu API, Türkiye\'deki iller ve ilçeler hakkında veri almanızı sağlar. / This API allows you to get data about provinces and districts in Turkey.')
    meta(name='keywords' content='api, turkiye, türkiye, iller, sehirler, ilceler, veri, json, turkey, provinces, cities, districts, data, json')
    meta(name='author' content='Ubeyde Emir Özdemir')
    meta(name='robots' content='index, follow')
    meta(name='googlebot' content='index, follow')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    link(rel='icon' type='image/x-icon' href='./turkey_flag_flags_18075.ico')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/foundation.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js')
    style.
      *,
      *::before,
      *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }
      *:focus {
      outline: 3px solid #ff0000;
      border-radius: 5px;
      z-index: 3;
      }
      *::selection {
      background-color: #ff0000;
      color: #fff;
      }
      html {
      scroll-behavior: smooth;
      }
      body {
      font-family: 'Inter', sans-serif;
      }
      a {
      text-decoration: none;
      color: inherit;
      }
    block styles
  body
    block content
    block scripts